<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap" rel="stylesheet">
    <!-- Title and Stylesheet -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Page Title -->
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <a href="/">Go Back to Home</a><br>

<!-- Parent Container -->
<div class="content-container">
  <div class="iframe-container">
    <iframe width="375" height="200" src="https://www.youtube.com/embed/7Mb1PS19qiI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  
  <!-- Search Container -->
  <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search...">
      <button id="searchButton">Search</button>
      <div class="small-text-box">
        <div id="dictionaryResult"></div>
      </div>
  </div>


</div>

    
    <!-- Text Container -->
  <div id="textContainer">
   <p>اهلا بكم الى موجز لاهم الانباء.</p>
   <p>تواصلت الاحتجاجات لليلة الخامسة على التوالي على مقتل شاب من أصول جزائرية بنيران شرطي الثلاثاء الماضي،</p>
   <p>فيما أعلنت نحو عشرين مدينة في ضواحي باريس حظرا ليليا للتجوال.</p>
   <p>وقد اعلن وزير الداخلية جيرالد دارمانان اعتقال اربع مئة سبعة وعشرين شخصا الليلة الماضية بينهم مئة واثنان وستون في العاصمة باريس.</p>
   <p>وقد انتشر افراد الشرطة في جادة الشانزليزيه حيث اعتقل عددا من المحتجين, وكان الرئيس الفرنسي قد الغى زيارة كانت مقررة الى المانيا لتفرغه لادارة الازمة.</p>
  
   <p>وفي مرسيلسا  أعلنت وزارة الداخلية اعتقال خمسة وخمسين شخصا  فيما أعلن وزير الداخلية إرسال مئتي شرطي إضافي للمساعدة في حفظ الأمن.</p>

   <p>اتهم الرئيس الأوكراني فولوديمير زيلنسكي دولا غربية، لم يسمها، بالتقاعس عن تدريب الطيارين الأوكرانيين على مقاتلات إف ستة عشر.</p>
   <p>قال نائب رئيس مجلس الأمن القومي الروسي دمتري مدفيديف إن طلب بولندا نشر أسلحة نووية فيها يعني أن هذه الأسلحة ستستخدم، فيما دافعت الخارجية الروسية عن قرار موسكو نشر اسلحة نووية في بيلاروسيا.</p>
   <p>من ناحيته قال رئيس بيلاروسيا الكساندر لوكاشينكو ان الغرب وضع راس اوروبا تحت المقصلة النووية على حد وصفه.</p>
   <p>افاد مراسل الجزيرة في السودان باندلاع اشتباكات عنيفة بين الجيش والدعم السريع بمحيط السوق الشعبي في ام درمان غربية الخرطوم.</p>
   <p>كما قال مراسلنا ان طائرات حربية حلقت منذ الصباح الباكر في سماء مدن العاصمة الخرطوم والخرطوم بحري وام درمان وكان الجيش وقوات الدعم السريع, وكان الجيش وقوات الدعم السريع قد تبادلا امس القصف المدفعي  في نيالا غربي البلاد.</p>
   <p>حذرت مصادر طبية سودانية من أن كارثة صحية ستحل بمستشفيات وادي حلفا، شمالي البلاد، بسبب نقص الأدوية والمستلزمات الطبية.</p>
   <p>ونقل مراسل الجزيرة عن المصادر ذاتها ان الاطفال المرضى بمستشفيات المنطقة يعانون ظروفا صحية بالغة الخطورة.</p>
   <p>أعلن الجيش الاسرائيلي أن طائرته أغارت الليلة الماضية على المنصة التي أُطْلِقَ منها صاروخ مضاد لطائرات من الاراضي السورية وأوضح ان الغارات ضربت أهدافاً أخرى,  وقال شهود عيان إن الصاروخ الذي انطلق من الاراضي السورية انفجر في اجواء بلدة رهط العربية البدويهة في النقب.</p>
   <p>وقد أكد الجيش الاسرائيلي أن الصاروخ انفجر في الجوّ لم يتسبب بوقوع إصابات. ختم هذا الموجز, شكرا لكم وإلى اللقاء.</p>
  </div>


  
    <!-- Buttons Container 1-->
    <div class="centered-container">
      <p class="framed-text-1">סמן בצבע את הפעלים ושמות הפעולה</p> 
    </div>
    <div class="buttons-container_1">
      <button class="highlightButton_1" data-words="كانت, قال, زيارة, نشر, وكان, وضع, وصفه, نقل, وقوع, ختم, ستحل , ضربت, س,">בניין 1</button>
      <button class="highlightButton_1" data-words="يسمها, تدريب , حلقت , حذرت, أكد">בניין 2</button>
      <button class="highlightButton_1" data-words="يعانون">בניין 3</button>
      <button class="highlightButton_1" data-words="لادارة, اعلن, الغى, أعلنت, إرسال, افاد, أوضح, أُطْلِقَ, إصابات, أغارت">בניין 4</button>
      <button class="highlightButton_1" data-words="لتفرغه, يتسبب ">בניין 5</button>
      <button class="highlightButton_1" data-words="تواصلت">בניין 6</button>
      <button class="highlightButton_1" data-words="انطلق, انفجر, اندلاع">בניין 7</button>
      <button class="highlightButton_1" data-words="اعتقال, اعتقل, الاحتجاجات, اتهم, اشتباكات">בניין 8</button>
      <button class="highlightButton_1" data-words=",بلبيبلييل">בניין 10</button>
    </div>
    <!-- Buttons Container 2-->
    <div class="centered-container">
      <p class="framed-text-2">הסברים</p> 
    </div>
    <div class="buttons-container_2">
      <button class="highlightButton_2" data-text="button1">בניין 1</button>
      <button class="highlightButton_2" data-text="button2">בניין 2</button>
      <button class="highlightButton_2">בניין 3</button>
      <button class="highlightButton_2" data-text="button4">בניין 4</button>
      <button class="highlightButton_2">בניין 5</button>
      <button class="highlightButton_2">בניין 6</button>
      <button class="highlightButton_2">בניין 7</button>
      <button class="highlightButton_2">בניין 8</button>
      <button class="highlightButton_2">בניין 10</button>
    </div>
    <div id="displayText"></div>
    
    <script>

      const buttonTexts = {
        "button1": `<h1 class='button1-text1-class'>הפעלים מבניין 1 המופיעים בטקסט:</h1><br><p class='button1-text2-class'>كان + كانت<br> שורש:   ك. و. ن.<br>גזרה:<br>ע'ו - האות האמצעית בשורש (ע-הפועל) היא תנועה ולא עיצור<br>גוף: הוא + היא<br>זמן: עבר</p><br><p class='button1-text2-class'>قال <br>שורש: ق. و. ل.<br>גזרה:<br>ע'ו - ע-הפועל היא תנועה ולא עיצור<br>גוף: הוא<br>זמן: עבר</p><br><p class='button1-text2-class'>نَشْر שם פעולה/מסדר<br>שורש: ن. ش. ر.<br>משמעות: פריסה (של דבר מה צבאי)</p>`,
        "button2": `<h1 class='button1-text1-class'>הפעלים מבניין 2 המופיעים בטקסט:</h1><br>`,
        "button4": `<h1 class='button1-text1-class'>הפעלים מבניין 4 המופיעים בטקסט:</h1><br>`
};


    // Add an event listener that triggers when the DOM content is fully loaded
document.addEventListener('DOMContentLoaded', function() {
  // Add event listeners to all buttons with class 'highlightButton' inside the container with class 'buttons-container_1'
  document.querySelectorAll('.buttons-container_1 .highlightButton_1').forEach(button => {
    button.addEventListener('click', function() {
      // Toggle the class 'button-toggled-on' for the button when clicked
      this.classList.toggle('button-toggled-on');
      // Retrieve the words to be highlighted from the button's 'data-words' attribute and split them into an array
      const words = this.getAttribute('data-words').split(', ');
      // Call the function toggleHighlight with the array of words
      toggleHighlight(words);
    });
  });
});

// Define the function toggleHighlight
function toggleHighlight(words) {
  // Select all paragraph elements inside the element with id 'textContainer'
  let paragraphs = document.querySelectorAll('#textContainer p');
  paragraphs.forEach(p => {
    // Get the inner HTML of each paragraph
    let contentText = p.innerHTML;

    // Iterate over each word in the words array
    words.forEach(word => {
      // Create a regular expression to find the word in the content, case insensitive
      const wordRegex = new RegExp(`(${word})`, 'gi');

      // Check if the word is not already highlighted
      if (!contentText.includes(`<span class="highlight">${word}</span>`)) {
        // Highlight the word by wrapping it with a span tag and the class 'highlight'
        contentText = contentText.replace(wordRegex, `<span class="highlight">$1</span>`);
      } else {
        // If the word is already highlighted, remove the highlight
        contentText = contentText.replace(new RegExp(`<span class="highlight">${word}</span>`, 'gi'), word);
      }
    });

    // Update the paragraph's inner HTML with the new content
    p.innerHTML = contentText;
  });
}


// Add event listeners to all buttons with class 'highlightButton' inside the container with class 'buttons-container_2'
document.querySelectorAll('.buttons-container_2 .highlightButton_2').forEach(button => {
  // Add a click event listener to each button
  button.addEventListener('click', function() {
    // Check if the current button has the class 'button-toggled-on'
    if (this.classList.contains('button-toggled-on')) {
      // If the button is already active (has the class), clear the text in the element with id 'displayText'
      document.getElementById('displayText').innerText = '';
    } else {
      // If the button is not active, get the text associated with this button from its 'data-text' attribute
      const textToShow = this.getAttribute('data-text');
      // Display the retrieved text in the element with id 'displayText'
      document.getElementById('displayText').innerText = textToShow;
    }
    // Toggle the class 'button-toggled-on' on the button, adding it if it's not there and removing it if it is
    this.classList.toggle('button-toggled-on');
  });
});


// Add event listeners to all buttons with class 'highlightButton' within the container with class 'buttons-container_2'
document.querySelectorAll('.buttons-container_2 .highlightButton_2').forEach(button => {
  // Add a click event listener to each button
  button.addEventListener('click', function() {
    // Retrieve the key from the button's 'data-text' attribute
    const key = this.getAttribute('data-text');
    // Use the key to get the corresponding text from the buttonTexts object
    const textToShow = buttonTexts[key];

    // Check if the current button has the class 'button-toggled-on'
    if (this.classList.contains('button-toggled-on')) {
      // If the button is active, clear the text in the element with id 'displayText'
      document.getElementById('displayText').innerText = '';
    } else {
      // If the button is not active, display the text associated with the button in the element with id 'displayText'
      document.getElementById('displayText').innerText = textToShow;
    }

    // Toggle the class 'button-toggled-on' on the button to reflect its active or inactive state
    this.classList.toggle('button-toggled-on');
  });
});


// Add an event listener to the document that triggers when the DOM content is fully loaded
document.addEventListener('DOMContentLoaded', function() {
  // Add event listeners to all buttons with class 'highlightButton' inside the container with class 'buttons-container_2'
  document.querySelectorAll('.buttons-container_2 .highlightButton_2').forEach(button => {
    // Add a click event listener to each button
    button.addEventListener('click', function() {
      // Retrieve the key from the button's 'data-text' attribute
      const key = this.getAttribute('data-text');
      // Use the key to get the corresponding HTML content from the buttonTexts object
      const htmlContent = buttonTexts[key];

      // Check if the current button has the class 'button-toggled-on'
      if (this.classList.contains('button-toggled-on')) {
        // If the button is active, clear the HTML content in the element with id 'displayText'
        document.getElementById('displayText').innerHTML = '';
      } else {
        // If the button is not active, set the HTML content associated with the button in the element with id 'displayText'
        document.getElementById('displayText').innerHTML = htmlContent;
      }

      // Toggle the class 'button-toggled-on' on the button, adding it if it's not there and removing it if it is
      this.classList.toggle('button-toggled-on');
    });
  });
});

// Function to perform search
function performSearch() {
  const searchInput = document.getElementById('searchInput').value.trim();
  const searchResult = searchArray.find(item => item.keyword === searchInput);

  let displayText = searchResult ? searchResult.result : "No results found";
  document.getElementById('dictionaryResult').innerText = displayText;
}

// Event listener for search button
document.getElementById('searchButton').addEventListener('click', performSearch);

const searchArray = [
{ keyword: "اهلا", result: "Result for searchTerm" },
{ keyword: "بكم", result: "Result for searchTerm" },
{ keyword: "الى", result: "Result for searchTerm" },
{ keyword: "موجز", result: "Result for searchTerm" },
{ keyword: "لاهم", result: "Result for searchTerm" },
{ keyword: "الانباء", result: "Result for searchTerm" },
{ keyword: "تواصلت", result: "Result for searchTerm" },
{ keyword: "الاحتجاجات", result: "Result for searchTerm" },
{ keyword: "لليلة", result: "Result for searchTerm" },
{ keyword: "الخامسة", result: "Result for searchTerm" },
{ keyword: "على", result: "Result for searchTerm" },
{ keyword: "التوالي", result: "Result for searchTerm" },
{ keyword: "على", result: "Result for searchTerm" },
{ keyword: "مقتل", result: "Result for searchTerm" },
{ keyword: "شاب", result: "Result for searchTerm" },
{ keyword: "من", result: "Result for searchTerm" },
{ keyword: "أصول", result: "Result for searchTerm" },
{ keyword: "جزائرية", result: "Result for searchTerm" },
{ keyword: "بنيران", result: "Result for searchTerm" },
{ keyword: "شرطي", result: "Result for searchTerm" },
{ keyword: "الثلاثاء", result: "Result for searchTerm" },
{ keyword: "الماضي،", result: "Result for searchTerm" },
{ keyword: "فيما", result: "Result for searchTerm" },
{ keyword: "أعلنت", result: "Result for searchTerm" },
{ keyword: "نحو", result: "Result for searchTerm" },
{ keyword: "عشرين", result: "Result for searchTerm" },
{ keyword: "مدينة", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "ضواحي", result: "Result for searchTerm" },
{ keyword: "باريس", result: "Result for searchTerm" },
{ keyword: "حظرا", result: "Result for searchTerm" },
{ keyword: "ليليا", result: "Result for searchTerm" },
{ keyword: "للتجوال", result: "Result for searchTerm" },
{ keyword: "وقد", result: "Result for searchTerm" },
{ keyword: "اعلن", result: "Result for searchTerm" },
{ keyword: "وزير", result: "Result for searchTerm" },
{ keyword: "الداخلية", result: "Result for searchTerm" },
{ keyword: "جيرالد", result: "Result for searchTerm" },
{ keyword: "دارمانان", result: "Result for searchTerm" },
{ keyword: "اعتقال", result: "Result for searchTerm" },
{ keyword: "اربع", result: "Result for searchTerm" },
{ keyword: "مئة", result: "Result for searchTerm" },
{ keyword: "سبعة", result: "Result for searchTerm" },
{ keyword: "وعشرين", result: "Result for searchTerm" },
{ keyword: "شخصا", result: "Result for searchTerm" },
{ keyword: "الليلة", result: "Result for searchTerm" },
{ keyword: "الماضية", result: "Result for searchTerm" },
{ keyword: "بينهم", result: "Result for searchTerm" },
{ keyword: "مئة", result: "Result for searchTerm" },
{ keyword: "واثنان", result: "Result for searchTerm" },
{ keyword: "وستون", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "العاصمة", result: "Result for searchTerm" },
{ keyword: "باريس", result: "Result for searchTerm" },
{ keyword: "وقد", result: "Result for searchTerm" },
{ keyword: "انتشر", result: "Result for searchTerm" },
{ keyword: "افراد", result: "Result for searchTerm" },
{ keyword: "الشرطة", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "جادة", result: "Result for searchTerm" },
{ keyword: "الشانزليزيه", result: "Result for searchTerm" },
{ keyword: "حيث", result: "Result for searchTerm" },
{ keyword: "اعتقل", result: "Result for searchTerm" },
{ keyword: "عددا", result: "Result for searchTerm" },
{ keyword: "من", result: "Result for searchTerm" },
{ keyword: "المحتجين,", result: "Result for searchTerm" },
{ keyword: "وكان", result: "Result for searchTerm" },
{ keyword: "الرئيس", result: "Result for searchTerm" },
{ keyword: "الفرنسي", result: "Result for searchTerm" },
{ keyword: "قد", result: "Result for searchTerm" },
{ keyword: "الغى", result: "Result for searchTerm" },
{ keyword: "زيارة", result: "Result for searchTerm" },
{ keyword: "كانت", result: "Result for searchTerm" },
{ keyword: "مقررة", result: "Result for searchTerm" },
{ keyword: "الى", result: "Result for searchTerm" },
{ keyword: "المانيا", result: "Result for searchTerm" },
{ keyword: "لتفرغه", result: "Result for searchTerm" },
{ keyword: "لادارة", result: "Result for searchTerm" },
{ keyword: "الازمة", result: "Result for searchTerm" },
{ keyword: "وفي", result: "Result for searchTerm" },
{ keyword: "مرسيلسا", result: "Result for searchTerm" },
{ keyword: "أعلنت", result: "Result for searchTerm" },
{ keyword: "وزارة", result: "Result for searchTerm" },
{ keyword: "الداخلية", result: "Result for searchTerm" },
{ keyword: "اعتقال", result: "Result for searchTerm" },
{ keyword: "خمسة", result: "Result for searchTerm" },
{ keyword: "وخمسين", result: "Result for searchTerm" },
{ keyword: "شخصا", result: "Result for searchTerm" },
{ keyword: "فيما", result: "Result for searchTerm" },
{ keyword: "أعلن", result: "Result for searchTerm" },
{ keyword: "وزير", result: "Result for searchTerm" },
{ keyword: "الداخلية", result: "Result for searchTerm" },
{ keyword: "إرسال", result: "Result for searchTerm" },
{ keyword: "مئتي", result: "Result for searchTerm" },
{ keyword: "شرطي", result: "Result for searchTerm" },
{ keyword: "إضافي", result: "Result for searchTerm" },
{ keyword: "للمساعدة", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "حفظ", result: "Result for searchTerm" },
{ keyword: "الأمن", result: "Result for searchTerm" },
{ keyword: "اتهم", result: "Result for searchTerm" },
{ keyword: "الرئيس", result: "Result for searchTerm" },
{ keyword: "الأوكراني", result: "Result for searchTerm" },
{ keyword: "فولوديمير", result: "Result for searchTerm" },
{ keyword: "زيلنسكي", result: "Result for searchTerm" },
{ keyword: "دولا", result: "Result for searchTerm" },
{ keyword: "غربية،", result: "Result for searchTerm" },
{ keyword: "لم", result: "Result for searchTerm" },
{ keyword: "يسمها،", result: "Result for searchTerm" },
{ keyword: "بالتقاعس", result: "Result for searchTerm" },
{ keyword: "عن", result: "Result for searchTerm" },
{ keyword: "تدريب", result: "Result for searchTerm" },
{ keyword: "الطيارين", result: "Result for searchTerm" },
{ keyword: "الأوكرانيين", result: "Result for searchTerm" },
{ keyword: "على", result: "Result for searchTerm" },
{ keyword: "مقاتلات", result: "Result for searchTerm" },
{ keyword: "إف", result: "Result for searchTerm" },
{ keyword: "ستة", result: "Result for searchTerm" },
{ keyword: "عشر", result: "Result for searchTerm" },
{ keyword: "قال", result: "Result for searchTerm" },
{ keyword: "نائب", result: "Result for searchTerm" },
{ keyword: "رئيس", result: "Result for searchTerm" },
{ keyword: "مجلس", result: "Result for searchTerm" },
{ keyword: "الأمن", result: "Result for searchTerm" },
{ keyword: "القومي", result: "Result for searchTerm" },
{ keyword: "الروسي", result: "Result for searchTerm" },
{ keyword: "دمتري", result: "Result for searchTerm" },
{ keyword: "مدفيديف", result: "Result for searchTerm" },
{ keyword: "إن", result: "Result for searchTerm" },
{ keyword: "طلب", result: "Result for searchTerm" },
{ keyword: "بولندا", result: "Result for searchTerm" },
{ keyword: "نشر", result: "Result for searchTerm" },
{ keyword: "أسلحة", result: "Result for searchTerm" },
{ keyword: "نووية", result: "Result for searchTerm" },
{ keyword: "فيها", result: "Result for searchTerm" },
{ keyword: "يعني", result: "Result for searchTerm" },
{ keyword: "أن", result: "Result for searchTerm" },
{ keyword: "هذه", result: "Result for searchTerm" },
{ keyword: "الأسلحة", result: "Result for searchTerm" },
{ keyword: "ستستخدم،", result: "Result for searchTerm" },
{ keyword: "فيما", result: "Result for searchTerm" },
{ keyword: "دافعت", result: "Result for searchTerm" },
{ keyword: "الخارجية", result: "Result for searchTerm" },
{ keyword: "الروسية", result: "Result for searchTerm" },
{ keyword: "عن", result: "Result for searchTerm" },
{ keyword: "قرار", result: "Result for searchTerm" },
{ keyword: "موسكو", result: "Result for searchTerm" },
{ keyword: "نشر", result: "Result for searchTerm" },
{ keyword: "اسلحة", result: "Result for searchTerm" },
{ keyword: "نووية", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "بيلاروسيا", result: "Result for searchTerm" },
{ keyword: "من", result: "Result for searchTerm" },
{ keyword: "ناحيته", result: "Result for searchTerm" },
{ keyword: "قال", result: "Result for searchTerm" },
{ keyword: "رئيس", result: "Result for searchTerm" },
{ keyword: "بيلاروسيا", result: "Result for searchTerm" },
{ keyword: "الكساندر", result: "Result for searchTerm" },
{ keyword: "لوكاشينكو", result: "Result for searchTerm" },
{ keyword: "ان", result: "Result for searchTerm" },
{ keyword: "الغرب", result: "Result for searchTerm" },
{ keyword: "وضع", result: "Result for searchTerm" },
{ keyword: "راس", result: "Result for searchTerm" },
{ keyword: "اوروبا", result: "Result for searchTerm" },
{ keyword: "تحت", result: "Result for searchTerm" },
{ keyword: "المقصلة", result: "Result for searchTerm" },
{ keyword: "النووية", result: "Result for searchTerm" },
{ keyword: "على", result: "Result for searchTerm" },
{ keyword: "حد", result: "Result for searchTerm" },
{ keyword: "وصفه", result: "Result for searchTerm" },
{ keyword: "افاد", result: "Result for searchTerm" },
{ keyword: "مراسل", result: "Result for searchTerm" },
{ keyword: "الجزيرة", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "السودان", result: "Result for searchTerm" },
{ keyword: "باندلاع", result: "Result for searchTerm" },
{ keyword: "اشتباكات", result: "Result for searchTerm" },
{ keyword: "عنيفة", result: "Result for searchTerm" },
{ keyword: "بين", result: "Result for searchTerm" },
{ keyword: "الجيش", result: "Result for searchTerm" },
{ keyword: "والدعم", result: "Result for searchTerm" },
{ keyword: "السريع", result: "Result for searchTerm" },
{ keyword: "بمحيط", result: "Result for searchTerm" },
{ keyword: "السوق", result: "Result for searchTerm" },
{ keyword: "الشعبي", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "ام", result: "Result for searchTerm" },
{ keyword: "درمان", result: "Result for searchTerm" },
{ keyword: "غربية", result: "Result for searchTerm" },
{ keyword: "الخرطوم", result: "Result for searchTerm" },
{ keyword: "كما", result: "Result for searchTerm" },
{ keyword: "قال", result: "Result for searchTerm" },
{ keyword: "مراسلنا", result: "Result for searchTerm" },
{ keyword: "ان", result: "Result for searchTerm" },
{ keyword: "طائرات", result: "Result for searchTerm" },
{ keyword: "حربية", result: "Result for searchTerm" },
{ keyword: "حلقت", result: "Result for searchTerm" },
{ keyword: "منذ", result: "Result for searchTerm" },
{ keyword: "الصباح", result: "Result for searchTerm" },
{ keyword: "الباكر", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "سماء", result: "Result for searchTerm" },
{ keyword: "مدن", result: "Result for searchTerm" },
{ keyword: "العاصمة", result: "Result for searchTerm" },
{ keyword: "الخرطوم", result: "Result for searchTerm" },
{ keyword: "والخرطوم", result: "Result for searchTerm" },
{ keyword: "بحري", result: "Result for searchTerm" },
{ keyword: "وام", result: "Result for searchTerm" },
{ keyword: "درمان", result: "Result for searchTerm" },
{ keyword: "وكان", result: "Result for searchTerm" },
{ keyword: "الجيش", result: "Result for searchTerm" },
{ keyword: "وقوات", result: "Result for searchTerm" },
{ keyword: "الدعم", result: "Result for searchTerm" },
{ keyword: "السريع,", result: "Result for searchTerm" },
{ keyword: "وكان", result: "Result for searchTerm" },
{ keyword: "الجيش", result: "Result for searchTerm" },
{ keyword: "وقوات", result: "Result for searchTerm" },
{ keyword: "الدعم", result: "Result for searchTerm" },
{ keyword: "السريع", result: "Result for searchTerm" },
{ keyword: "قد", result: "Result for searchTerm" },
{ keyword: "تبادلا", result: "Result for searchTerm" },
{ keyword: "امس", result: "Result for searchTerm" },
{ keyword: "القصف", result: "Result for searchTerm" },
{ keyword: "المدفعي", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "نيالا", result: "Result for searchTerm" },
{ keyword: "غربي", result: "Result for searchTerm" },
{ keyword: "البلاد", result: "Result for searchTerm" },
{ keyword: "حذرت", result: "Result for searchTerm" },
{ keyword: "مصادر", result: "Result for searchTerm" },
{ keyword: "طبية", result: "Result for searchTerm" },
{ keyword: "سودانية", result: "Result for searchTerm" },
{ keyword: "من", result: "Result for searchTerm" },
{ keyword: "أن", result: "Result for searchTerm" },
{ keyword: "كارثة", result: "Result for searchTerm" },
{ keyword: "صحية", result: "Result for searchTerm" },
{ keyword: "ستحل", result: "Result for searchTerm" },
{ keyword: "بمستشفيات", result: "Result for searchTerm" },
{ keyword: "وادي", result: "Result for searchTerm" },
{ keyword: "حلفا،", result: "Result for searchTerm" },
{ keyword: "شمالي", result: "Result for searchTerm" },
{ keyword: "البلاد،", result: "Result for searchTerm" },
{ keyword: "بسبب", result: "Result for searchTerm" },
{ keyword: "نقص", result: "Result for searchTerm" },
{ keyword: "الأدوية", result: "Result for searchTerm" },
{ keyword: "والمستلزمات", result: "Result for searchTerm" },
{ keyword: "الطبية", result: "Result for searchTerm" },
{ keyword: "ونقل", result: "Result for searchTerm" },
{ keyword: "مراسل", result: "Result for searchTerm" },
{ keyword: "الجزيرة", result: "Result for searchTerm" },
{ keyword: "عن", result: "Result for searchTerm" },
{ keyword: "المصادر", result: "Result for searchTerm" },
{ keyword: "ذاتها", result: "Result for searchTerm" },
{ keyword: "ان", result: "Result for searchTerm" },
{ keyword: "الاطفال", result: "Result for searchTerm" },
{ keyword: "المرضى", result: "Result for searchTerm" },
{ keyword: "بمستشفيات", result: "Result for searchTerm" },
{ keyword: "المنطقة", result: "Result for searchTerm" },
{ keyword: "يعانون", result: "Result for searchTerm" },
{ keyword: "ظروفا", result: "Result for searchTerm" },
{ keyword: "صحية", result: "Result for searchTerm" },
{ keyword: "بالغة", result: "Result for searchTerm" },
{ keyword: "الخطورة", result: "Result for searchTerm" },
{ keyword: "أعلن", result: "Result for searchTerm" },
{ keyword: "الجيش", result: "Result for searchTerm" },
{ keyword: "الاسرائيلي", result: "Result for searchTerm" },
{ keyword: "أن", result: "Result for searchTerm" },
{ keyword: "طائرته", result: "Result for searchTerm" },
{ keyword: "أغارت", result: "Result for searchTerm" },
{ keyword: "الليلة", result: "Result for searchTerm" },
{ keyword: "الماضية", result: "Result for searchTerm" },
{ keyword: "على", result: "Result for searchTerm" },
{ keyword: "المنصة", result: "Result for searchTerm" },
{ keyword: "التي", result: "Result for searchTerm" },
{ keyword: "أُطْلِقَ", result: "Result for searchTerm" },
{ keyword: "منها", result: "Result for searchTerm" },
{ keyword: "صاروخ", result: "Result for searchTerm" },
{ keyword: "مضاد", result: "Result for searchTerm" },
{ keyword: "لطائرات", result: "Result for searchTerm" },
{ keyword: "من", result: "Result for searchTerm" },
{ keyword: "الاراضي", result: "Result for searchTerm" },
{ keyword: "السورية", result: "Result for searchTerm" },
{ keyword: "وأوضح", result: "Result for searchTerm" },
{ keyword: "ان", result: "Result for searchTerm" },
{ keyword: "الغارات", result: "Result for searchTerm" },
{ keyword: "ضربت", result: "Result for searchTerm" },
{ keyword: "أهدافاً", result: "Result for searchTerm" },
{ keyword: "أخرى,", result: "Result for searchTerm" },
{ keyword: "وقال", result: "Result for searchTerm" },
{ keyword: "شهود", result: "Result for searchTerm" },
{ keyword: "عيان", result: "Result for searchTerm" },
{ keyword: "إن", result: "Result for searchTerm" },
{ keyword: "الصاروخ", result: "Result for searchTerm" },
{ keyword: "الذي", result: "Result for searchTerm" },
{ keyword: "انطلق", result: "Result for searchTerm" },
{ keyword: "من", result: "Result for searchTerm" },
{ keyword: "الاراضي", result: "Result for searchTerm" },
{ keyword: "السورية", result: "Result for searchTerm" },
{ keyword: "انفجر", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "اجواء", result: "Result for searchTerm" },
{ keyword: "بلدة", result: "Result for searchTerm" },
{ keyword: "رهط", result: "Result for searchTerm" },
{ keyword: "العربية", result: "Result for searchTerm" },
{ keyword: "البدويهة", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "النقب", result: "Result for searchTerm" },
{ keyword: "وقد", result: "Result for searchTerm" },
{ keyword: "أكد", result: "Result for searchTerm" },
{ keyword: "الجيش", result: "Result for searchTerm" },
{ keyword: "الاسرائيلي", result: "Result for searchTerm" },
{ keyword: "أن", result: "Result for searchTerm" },
{ keyword: "الصاروخ", result: "Result for searchTerm" },
{ keyword: "انفجر", result: "Result for searchTerm" },
{ keyword: "في", result: "Result for searchTerm" },
{ keyword: "الجوّ", result: "Result for searchTerm" },
{ keyword: "لم", result: "Result for searchTerm" },
{ keyword: "يتسبب", result: "Result for searchTerm" },
{ keyword: "بوقوع", result: "Result for searchTerm" },
{ keyword: "إصابات.", result: "Result for searchTerm" },
{ keyword: "ختم", result: "Result for searchTerm" },
{ keyword: "هذا", result: "Result for searchTerm" },
{ keyword: "الموجز,", result: "Result for searchTerm" },
{ keyword: "شكرا", result: "Result for searchTerm" },
{ keyword: "لكم", result: "Result for searchTerm" },
{ keyword: "وإلى", result: "Result for searchTerm" },
{ keyword: "اللقاء", result: "Result for searchTerm" },
  
];


</script>
</body>
</html>


